ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.monthName {
    border: 1px solid black;
    width: 100vw;
    text-align: center;
    background-color: #851f1f;
    color: white;
}

.weekdaysHeader {
    border: 1px solid black;
    width: 100vw;
    text-align: center;
    background-color: #851f1f;
    color: white;
}

.daysTable {
    border: 2px solid #964444;
    width: 100vw;
    text-align: center;
    background-color: #ff8585;
}

.daysData {
    border: 1px solid black;
}


.outOfMonth {
    color: #ffb5b5;
}

.inMonth {
    color: #ffffff;
    transition-duration: 0.2s;
}

.inMonth:hover {
    border: #283860;
    font-size: 15px;
    background: #851f1f;
    color: #ffffff;
    cursor: cell;
    transition-duration: 0.5s;
    border-width: thin; <!-- this does nothing -->
}

.employeeTable {
    border: 2px solid #964444;
    width: 600px;
    height: 100px;
    background-color: #283860;
}

.employeeImage {
    border-radius: 5%;
    width: 20%;
    align-content: center; <!-- it doesnt do nothin -->
}

.employeeName{
    text-align: center;
    color: #ff8585;
}

.employeeTd {
    width: 25vw;
}

.buttonPrev {
    background-color: #851f1f;
    border: none;
    color: #ec2222;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
}

.buttonPrev:hover {
    border: #283860;
    font-size: 16px;
    background: #964444;
    color: #ffffff;
    cursor: crosshair;
    transition-duration: 0.5s;
    border-radius: 10%;
}

.buttonNext {
    background-color: #851f1f;
    border: none;
    color: #ec2222;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
}

.buttonNext:hover{
    border: #283860;
    font-size: 16px;
    background: #964444;
    color: #ffffff;
    cursor: crosshair;
    transition-duration: 0.5s;
    border-radius: 10%;
}